body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  overflow: scroll;
}
header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
}
.logo {
  display: flex;
  flex-grow: 1;
}
.logo img {
  height: 50px;
  padding: 10px;
}
nav {
  display: flex;
  color: white;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  text-decoration: underline;
}

.container {
  display: flex;
  position: relative;
}
.mission {
  display: flex;
  top: 70px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: 0px 30px;
  align-items: center;
}
#mission-text {
  z-index: 1;
  background-color: black;
  width: 100%;
}
#mission-text h2,h4{
  display: block;
  margin: 15px 0px;
}
