body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  overflow: scroll;
}
header {
  display: flex;
  z-index: 10;
  top: 0px;
  border-bottom: 1px solid seashell;
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
}
.logo {
  display: flex;
  flex-grow: 1;
}
.logo img {
  height: 50px;
  padding: 10px;
}
nav {
  display: flex;
  color: white;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  text-decoration: underline;
}

.container {
  display: flex;
  position: relative;
  margin: 0px auto;
}
.mission {
  display: flex;
  top: 62px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-items: center;
}
.heading-text {
  z-index: 1;
  background-color: black;
  width: 100%;
}
.heading-text h2,h4{
  display: block;
  margin: 15px 0px;
}

.tea-of-the-month {
  top: 125px;
  width: 1000px;
  flex-direction: column;
}
.tea-of-the-month img {
  height: 200px;
  width: 300px;
}
.menu {
  position: relative;
  margin: 0px;
}
.row {
  display: flex;
  justify-content: center;
}
.row div {
  padding: 5px 15px;
}
.row h4 {
  margin-top: 10px;
}

.locations {
  top: 180px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 550px;
  width: 1200px;
  flex-direction: column;
}
#locations-header h2 {
  margin-top: 90px;
  margin-bottom: 0px;
}
.locations-content {
  display: flex;
  justify-content: center;
}
.column {
  display: flex;
  background-color: black;
  width: 300px;
  height: 275px;
  opacity: 1;
  margin: 15px 20px;
  flex-direction: column;
  justify-content: space-around;
}
.column h3 {
  margin: 0px;
}
